<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.id124.wjobsid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WJobsID">
        <activity
            android:name=".activity.ExperienceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID" />
        <activity
            android:name=".activity.PortfolioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID" />
        <activity android:name=".activity.SkillActivity" />
        <activity
            android:name=".activity.ProfileDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID.NoActionBar" />
        <activity
            android:name=".activity.ForgetPasswordVerifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID.NoActionBar" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID.NoActionBar" />
        <activity
            android:name=".activity.OnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID.Fullscreen" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WJobsID.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>